@model RealEstate.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Directory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Directory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeOrientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeOrientation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
